<a href="https://colab.research.google.com/github/Raziel-JKM/Python/blob/python/%5B%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC%5D_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Series

In [35]:
import pandas as pd

data = pd.Series([1,2,3,4])
print(data)

0    1
1    2
2    3
3    4
dtype: int64

앞 0123은 인덱스

뒤 1234 데이터

In [36]:
print(type(data))

<class 'pandas.core.series.Series'>

In [37]:
print(data.values)

[1 2 3 4]

In [38]:
print(type(data.values))

<class 'numpy.ndarray'>

2. Index를 지정할 수 있고 인덱스로 접근 가능

In [39]:
data = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(data)

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
data['c']=5
#인덱스로 접급하여 요소 변경가능
print(data)

a    1
b    2
c    5
d    4
dtype: int64

Dictionary를 활용하여 Series 생성 가능

In [41]:
population_dict ={
      'china': 141500,
      'japan': 12718,
      'korea' : 5180,
      'usa' : 32676
}

In [42]:
poplation = pd.Series(population_dict)
print(poplation)

china    141500
japan     12718
korea      5180
usa       32676
dtype: int64



---

In [43]:
import numpy as np
import pandas as pd

#예시) 시리즈 데이터를 만드는 방법

series = pd.Series([1,2,3,4,], index = ['a','b','c','d'], name = "Title")
print(series, "\n")

a    1
b    2
c    3
d    4
Name: Title, dtype: int64

In [44]:
#국가별 인구 수 시리즈 데이터를 딕셔너리를 사용하여 만들어보세요.
dict = {
'korea': 5180,
'japan' : 12718,
'china': 141500,
'usa': 32676
}
population = pd.Series(dict) #dic을 컨츄리로 만들어 준다
print(population)
#데이터 타입 정수, 시리즈에 잘 들어감을 확인

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64



---

여러 개의 Series 가 모여서 행과 열을 이룬 데이터

In [45]:
gdp_dict = {
    'china':1409250000,
    'japan':516700000,
    'korea':169320000,
    'usa':2041280000
}

gdp = pd.Series(gdp_dict)

In [46]:
country = pd.DataFrame({
    'gdp':gdp,
    'population':population
})
print(country)

              gdp  population
china  1409250000      141500
japan   516700000       12718
korea   169320000        5180
usa    2041280000       32676

Dictionary를 활용하여 DataFrame 생성 가능

In [47]:
data = {
    'country':['china','japan','korea','usa'],
    'gdp':[1409250000, 516700000,169320000,2041280000],
    'population':[141500,12718,5180,32676]
    }
country = pd.DataFrame(data) #데이터 프레임에 넣고

#country_ = country.set_index('country')
print(country)
#print(data)

  country         gdp  population
0   china  1409250000      141500
1   japan   516700000       12718
2   korea   169320000        5180
3     usa  2041280000       32676

1.딕셔너리는 {}로 표시

2.시리즈는 ([])

3.시리즈에서는 데이터 프레임을 만들 수 있다.

4.딕셔너리에서 바로 데이터 프레임을 만들수 있다.

In [48]:
#DataFrame 속성을 확인하는 방법

print(country.shape)
print(country.size)
print(country.ndim)
#print(country.value)

(4, 3)
12
2

#DataFrame의 index와 column에 이름 지정

In [49]:
country.index.name = "country" #인덱스에 이름 지정
country.columns.name = "Info" #컬럼에 이름 지정

print(country.index)
print(country.columns)

RangeIndex(start=0, stop=4, step=1, name='country')
Index(['country', 'gdp', 'population'], dtype='object', name='Info')

데이터 프레임 저장 및 불러오기 기능

In [50]:
country.to_csv("./country.csv")
country.to_excel("./country.xlsx")

country = pd.read_csv("./country.csv")
country = pd.read_csv("./country.xlsx")

##실습

In [51]:
import numpy as np
import pandas as pd

# 두 개의 시리즈 데이터가 있습니다.
print("Population series data:")
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
print(population, "\n")

print("GDP series data:")
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
gdp = pd.Series(gdp_dict)
print(gdp, "\n")


# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = None

Population series data:
korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

GDP series data:
korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

Country DataFrame

In [52]:
# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = pd.DataFrame({
    'population':population,
    'gdp':gdp
})

print(country)

Country DataFrame
       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000



---



---

##03 데이터 선택 및 변경하기

.loc : 몇시적인 인덱스를 참조하는 인덱싱 / 슬라이싱

In [53]:
country.loc['china'] # 인덱스가 차이나인 값을 구하라

population        141500
gdp           1409250000
Name: china, dtype: int64

In [54]:
country.loc['japan':'china', :'population'] # 인덱스가 차이나인 값을 구하라 (인덱스 , 컬럼)

       population
japan       12718
china      141500

.iloc : 파이썬 스타일의 정수 인덱스 인덱싱/슬라이싱

In [55]:
country.iloc[0]

population         5180
gdp           169320000
Name: korea, dtype: int64

In [56]:
country.iloc[1:3,:2]

       population         gdp
japan       12718   516700000
china      141500  1409250000

In [57]:
country

       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [58]:
country['gdp'] #= Series값(GDP)을 불러온다

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
Name: gdp, dtype: int64

In [59]:
country[['gdp']] #= Series값(GDP)을 불러온다 거기에 []데이터 프레임을 씌운다

              gdp
korea   169320000
japan   516700000
china  1409250000
usa    2041280000

Masking 연산 이나 Query함수를 활용하여 조건에 맞는 DataFrame 행 추출 가능

In [60]:
print(country)

       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [61]:
country[country['population']< 10000] #Masking 연산

       population        gdp
korea        5180  169320000

In [62]:
country.query("population > 100000") # query 함수 활용

       population         gdp
china      141500  1409250000

Series도 Numpy array처럼 연산자 활용 가능

In [63]:
gdp_per_capita = country['gdp'] / country['population']

country['gdp per capita'] = gdp_per_capita #연산하여 컬럼 추가
print(country)

       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604

리스트로 추가 또는 딕셔너리로 추가

In [64]:
df = pd.DataFrame(columns = ['이름','나이','주소']) # 데이터프레임 생성
df.loc[0] = ['길동', '26', '서울'] #리스트로 데이터 추가
df.loc[1] = {'이름':'철수', '나이':25, '주소':'인천'} #딕셔너리로 데이터 추가
df.loc[1, '이름'] = '영희' # 명시적 인덱스 활용하여 데이터 수정
df

   이름  나이  주소
0  길동  26  서울
1  영희  25  인천

Nan값으로 초기화 한 새로운 컬럼 추가

In [68]:
df['전화번호'] = np.nan #새로운 컬럼 추가 후 초기화 (nan = not a number)
df

   이름  나이  주소  전화번호
0  길동  26  서울   NaN
1  영희  25  인천   NaN

In [86]:
df.loc[0, '전화번호'] = '01012341234' #명시적 인덱스 활용하여 데이터 수정
df

   이름  나이  주소         전화번호
0  길동  26  서울  01012341234
1  영희  25  인천          NaN

In [87]:
# DataFrame 에서 컬럼 삭제 후 원본 변경
df.drop('전화번호', axis=1, inplace = True) 
# inplace 원본 변경여부, axis = 가로(0) 세로(1)
df

   이름  나이  주소
0  길동  26  서울
1  영희  25  인천



---
(실습3 해설) 조건을 충족하는 값 추출

In [110]:
import numpy as np
import pandas as pd

print("Masking & query")
df = pd.DataFrame(np.random.rand(5, 2), columns=["A", "B"])
print(df, "\n")

Masking & query
          A         B
0  0.242187  0.091524
1  0.793784  0.602589
2  0.737475  0.922301
3  0.493264  0.895933
4  0.329592  0.670075

데이터 프레임에서 A컬럼값이 0.5보다 작고 B컬럼 값이 0.3보다 큰값들을 구해봅시다.
- 마스킹 연산을 활용하여 출력해보세요!


- query 함수를 활용하여 출력해보세요!

# 마스킹 연산을 활용하여 출력해보세요!

In [111]:

print(df[df['A']<0.5])
print(df[df['B']>0.3])

          A         B
0  0.242187  0.091524
3  0.493264  0.895933
4  0.329592  0.670075
          A         B
1  0.793784  0.602589
2  0.737475  0.922301
3  0.493264  0.895933
4  0.329592  0.670075

In [116]:
print(df[(df['A']<0.5) & (df['B']>0.2)]) #두 조건 & 로 연결!!

          A         B
3  0.493264  0.895933
4  0.329592  0.670075

# query 함수를 활용하여 출력해보세요!

In [118]:
print(df.query("A<0.5 and B>0.3"))

          A         B
3  0.493264  0.895933
4  0.329592  0.670075



---

[실습4 해설] 새로운 컬럼 추가하기

In [119]:
import numpy as np
import pandas as pd

# GDP와 인구수 시리즈 값이 들어간 데이터프레임을 생성합니다.
population = pd.Series({'korea': 5180,'japan': 12718,'china': 141500,'usa': 32676})
gdp = pd.Series({'korea': 169320000,'japan': 516700000,'china': 1409250000,'usa': 2041280000})
print("Country DataFrame")
country = pd.DataFrame({"population" : population,"gdp" : gdp})
print(country)

Country DataFrame
       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [ ]:
# #country의 두 컬럼을 이용하여 새로운 컬럼을 만들고자 합니다. 
#1인당 GDP 를 나타내는 새로운 컬럼인 gdp per capita를 데이터 프레임에 추가해보세요.
# 1인당 GDP는 gdp를 population으로 나누어 얻을 수 있습니다.
# 완성한 데이터 프레임을 출력해보세요!

# 데이터프레임에 gdp per capita 칼럼을 추가하고 출력합니다.

In [120]:
gdp_per_capita = country['gdp'] / country['population']
country['gdp per capita'] =  gdp_per_capita
print(country)

       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604