<a href="https://colab.research.google.com/github/Raziel-JKM/Python/blob/python/Series_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series

In [39]:
import pandas as pd

data = pd.Series([1,2,3,4])
print(data)

0    1
1    2
2    3
3    4
dtype: int64

앞 0123은 인덱스

뒤 1234 데이터

In [40]:
print(type(data))

<class 'pandas.core.series.Series'>

In [41]:
print(data.values)

[1 2 3 4]

In [42]:
print(type(data.values))

<class 'numpy.ndarray'>

2. Index를 지정할 수 있고 인덱스로 접근 가능

In [43]:
data = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(data)

a    1
b    2
c    3
d    4
dtype: int64

In [44]:
data['c']=5
#인덱스로 접급하여 요소 변경가능
print(data)

a    1
b    2
c    5
d    4
dtype: int64

Dictionary를 활용하여 Series 생성 가능

In [45]:
population_dict ={
      'china': 141500,
      'japan': 12718,
      'korea' : 5180,
      'usa' : 32676
}

In [46]:
poplation = pd.Series(population_dict)
print(poplation)

china    141500
japan     12718
korea      5180
usa       32676
dtype: int64



---

In [47]:
import numpy as np
import pandas as pd

#예시) 시리즈 데이터를 만드는 방법

series = pd.Series([1,2,3,4,], index = ['a','b','c','d'], name = "Title")
print(series, "\n")

a    1
b    2
c    3
d    4
Name: Title, dtype: int64

In [48]:
#국가별 인구 수 시리즈 데이터를 딕셔너리를 사용하여 만들어보세요.
dict = {
'korea': 5180,
'japan' : 12718,
'china': 141500,
'usa': 32676
}
population = pd.Series(dict) #dic을 컨츄리로 만들어 준다
print(population)
#데이터 타입 정수, 시리즈에 잘 들어감을 확인

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64



---

여러 개의 Series 가 모여서 행과 열을 이룬 데이터

In [49]:
gdp_dict = {
    'china':1409250000,
    'japan':516700000,
    'korea':169320000,
    'usa':2041280000
}

gdp = pd.Series(gdp_dict)

In [50]:
country = pd.DataFrame({
    'gdp':gdp,
    'population':population
})
print(country)

              gdp  population
china  1409250000      141500
japan   516700000       12718
korea   169320000        5180
usa    2041280000       32676

Dictionary를 활용하여 DataFrame 생성 가능

In [51]:
data = {
    'country':['china','japan','korea','usa'],
    'gdp':[1409250000, 516700000,169320000,2041280000],
    'population':[141500,12718,5180,32676]
    }
country = pd.DataFram(data) #데이터 프레임에 넣고

#country_ = country.set_index('country')
print(country)
#print(data)

AttributeError: ignored

1.딕셔너리는 {}로 표시

2.시리즈는 ([])

3.시리즈에서는 데이터 프레임을 만들 수 있다.

4.딕셔너리에서 바로 데이터 프레임을 만들수 있다.

In [ ]:
#DataFrame 속성을 확인하는 방법

print(country.shape)
print(country.size)
print(country.ndim)
print(country.value)

#DataFrame의 index와 column에 이름 지정

In [ ]:
country.index.name = "country" #인덱스에 이름 지정
country.columns.name = "Info" #컬럼에 이름 지정

print(country.index)
print(country.columns)

데이터 프레임 저장 및 불러오기 기능

In [ ]:
country.to_csv("./country.csv")
country.to_excel("./country.xlsx")

country = pd.read_csv("./country.csv")
country = pd.read_csv("./country.xlsx")

##실습

In [52]:
import numpy as np
import pandas as pd

# 두 개의 시리즈 데이터가 있습니다.
print("Population series data:")
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
print(population, "\n")

print("GDP series data:")
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
gdp = pd.Series(gdp_dict)
print(gdp, "\n")


# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = None

Population series data:
korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

GDP series data:
korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

Country DataFrame

In [60]:
# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = pd.DataFrame({
    'population':population,
    'gdp':gdp
})

print(country)

Country DataFrame
       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000



---



---

03 데이터 선택 및 변경하기

.loc : 몇시적인 인덱스를 참조하는 인덱싱 / 슬라이싱

In [66]:
country.loc['china'] # 인덱스가 차이나인 값을 구하라

population        141500
gdp           1409250000
Name: china, dtype: int64

In [68]:
country.loc['japan':'china', :'population'] # 인덱스가 차이나인 값을 구하라 (인덱스 , 컬럼)

       population
japan       12718
china      141500

.iloc : 파이썬 스타일의 정수 인덱스 인덱싱/슬라이싱

In [69]:
country.iloc[0]

population         5180
gdp           169320000
Name: korea, dtype: int64

In [70]:
country.iloc[1:3,:2]

       population         gdp
japan       12718   516700000
china      141500  1409250000

In [71]:
country

              gdp
korea   169320000
japan   516700000
china  1409250000
usa    2041280000

In [73]:
country['gdp'] #= Series값(GDP)을 불러온다

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
Name: gdp, dtype: int64

In [72]:
country[['gdp']] #= Series값(GDP)을 불러온다 거기에 []데이터 프레임을 씌운다

              gdp
korea   169320000
japan   516700000
china  1409250000
usa    2041280000

Masking 연산 이나 Query함수를 활용하여 조건에 맞는 DataFrame 행 추출 가능

In [80]:
print(country)

       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [87]:
country[country['population']< 10000] #Masking 연산

       population        gdp
korea        5180  169320000

In [83]:
country.query("population > 100000") # query 함수 활용

       population         gdp
china      141500  1409250000