<a href="https://colab.research.google.com/github/Raziel-JKM/Python/blob/python/%ED%8C%8C%EC%9D%B4%EC%8D%AC_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_list = []
my_list.append(5)
my_list.append(4)
my_list.append(2)
my_list.append(1)

print(my_list) #[1, 2, 3]

[5, 4, 2, 1]



---

정렬

In [2]:
my_list = ['banana', 'apple', 'carrot']
my_list.sort()
print(my_list) #['apple', 'banana', 'carrot']

['apple', 'banana', 'carrot']

In [1]:
my_list = [5,4,3,2]
my_list.sort()
print(my_list) #기본적으로 오름차순 정렬

[2, 3, 4, 5]



---

시퀀스 자료형 = [문자열 + 리스트]
- 순서가 존재한다 

a = "Once" #문자열

b = ['T','W','I'] #리스트

c = (1,2,3,4,5) #튜프

In [16]:
a = "Once" #문자열

b = ['T','W','I'] #리스트
print(a[1])

print(b[1:2])

n
['W']

In [19]:
#멤버 조회
a = "Once" #문자열

b = ['T','W','I','C','E'] #리스트

print('O' in a)

print('b' in b)

True
False

In [20]:
#길이 확인
a = "Once" #문자열

b = ['T','W','I','C','E'] #리스트

print(len(a))
print(len(b))

4
5

In [22]:
#연결 연산

c = ['T','W','I']+['C','E']
print(c)

['T', 'W', 'I', 'C', 'E']

In [24]:
#반복 연산
#연산자로 시퀀스를 반복 할 수 있다.

d = "shy"*3
print(d)

shyshyshy



---
Index Slice

In [25]:
my_str = "Impossible"
my_list =  ["Apple", "Banana", "Chamwae", "Durian"]


var1 = my_list[2]
var2 = my_str[2:]

print(my_list[2]) #3
print(my_list[1:4]) #[2, 3, 4]

Chamwae
['Banana', 'Chamwae', 'Durian']

In [27]:
my_str = "Impossible"
#my_str의 길이
print(len(my_str)) #3 - my_str의 길이

#"Egg"가 my_list에 들어있는지 확인
print("Egg" in my_str) #False - 존재하지 않음

10
False

딕셔너리(Dictionary)

In [39]:
dict_zero = {}
person = {'name' : 'Michael' , 'age':10}


#딕셔너리에서 자료를 꺼내 올 수 있다.
print(person['name'])
print(person['age'])

Michael
10

In [40]:
#값을 넣어 줄 수 도 있다
person['Hometown']='Seoul'
print(person)

{'name': 'Michael', 'age': 10, 'Hometown': 'Seoul'}

In [41]:
#값을 삭제도 가능 / #기본값을 바꿔버림
del person['age']
print(person)

{'name': 'Michael', 'Hometown': 'Seoul'}

딕셔너리의 특징 key는 변할 수 없는 자료형
-> 리스트는 안되고 튜플은 된다!

In [45]:
datas = {[1,2,3]:'Alphabet'} #Error
         #KEY - list는 안됨
print(datas)

TypeError: ignored

In [50]:
datas = {(1,2,3): 'Nember'} #OK
         #KEY - 튜플은 가능
print(datas)

{(1, 2, 3): 'Nember'}



---

In [58]:
my_dict = {"사과":"apple", "바나나":"banana", "당근":"carrot"}
print(my_dict)

{'사과': 'apple', '바나나': 'banana', '당근': 'carrot'}

In [57]:
var1 = my_dict["사과"]

In [59]:
del my_dict["당근"]
print(my_dict)

{'사과': 'apple', '바나나': 'banana'}

In [61]:
my_dict["체리"] = "cherry"
print(my_dict)

{'사과': 'apple', '바나나': 'banana', '체리': 'cherry'}



---

In [64]:
my_dict = {}

my_dict[1] = "Integer"

my_dict['a'] = "String"

my_dict[(1,2,3)] = "Tuple"

print(my_dict)

{1: 'Integer', 'a': 'String', (1, 2, 3): 'Tuple'}

In [67]:
try:
    #여기에 [1, 2, 3] → "List"의 대응관계를 만들어봅시다.
    my_dict[[1, 2, 3]] = "List" #- 는 불가능!!

except TypeError:
    print("List는 Dictionary의 Key가 될 수 없습니다.")

List는 Dictionary의 Key가 될 수 없습니다.

In [66]:
try:
    #여기에 [1, 2, 3] → "List"의 대응관계를 만들어봅시다.
    my_dict[(1, 2, 3)] = "List" # - 튜플 형태는 리스트가능

except TypeError:
    print("List는 Dictionary의 Key가 될 수 없습니다.")